{% extends "base.html" %}

{% block content %}

<h2>Add a New Blog Post:</h2>
<p class="error">{{ error if error else "" }}</p>
<form action="/addpost" method="post">
    <label>
        Post Title:
        <input type="text" name="new-title" value='{{ title if title else "" }}'>
    </label>
    <br /><br />
    <label>
        Post Content:
        <textarea cols="40" rows="4" name="new-body">{{ body if body else "" }}</textarea>
    </label>
    <br /><br />
    <input type="submit" value="Submit Blog Post"/>
</form>

<h2>5 Most Recent Blog Posts:</h2>

<ul>
{% for post in posts %}
    <li>
        <a href='blog/{{ post.key().id() }}'><h3>{{ post.title }}</h3></a>
        <p>{{ post.body }}</p>
    </li>
{% endfor %}
</ul>

{% endblock %}
